.list-body {
    max-width: 800px;
    margin: 0 auto;
}
div.list-item {
    display: flex;
    margin: 1em;
    align-items: center;
    box-shadow: 5px 10px #888888;
}
.item-details {
    padding: 1em;
}
.rating {
    color: #bd8c15;
}
.page-title {
    text-align: center;
}
